<% if @item %>  
  <p>Are you sure you want to delete the following task: <em>"<%= @item.detail %>"</em>?</p>  
  <form action="/<%= @item.id %>" method="post">  
    <input type="hidden" name="_method" value="delete">  
    <input type="submit" value="Yes, Delete It!">  
    <a href="/<%= @item.id %>">Cancel</a>  
  </form>  
<% else %>  
  <p>Note not found.</p>  
<% end %>  
